<h2>Resend confirmation instructions</h2>

<%= simple_form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
<%= f.error_notification %>
<%= f.full_error :confirmation_token %>

<div class="form-inputs">
  <%= form.input :password, :input_html => {:autofocus => true} %>
</div>
<div class="form-inputs">
  <%= form.input :password_confirmation %>
</div>
<div class="form-inputs">
  <%= form.input :password_confirmation %>
</div>
<%= form.input :confirmation_token, :as => :hidden %>


<div class="btn-group-wrap">
  <%= f.button :submit, "Resend confirmation instructions" %>
</div>
<% end %>

<%= render "devise/shared/links" %>
