<%= simple_form_for @listing do |f| %>

<%= f.input :title, placeholder: "Title for your listing" %>

<%= f.input :price %>

<%= f.label :image %>
<%= f.file_field :image, placeholder: "Upload photos" %>

<%= f.input :description, placeholder: "Product Description" %>

<%= f.input :tag_list, placeholder: "Tags (separated by commas)"  %>

<div class="btn-group-wrap">
  <%= f.button :submit, "Start Selling", class: "button" %>
  <%= submit_tag 'Cancel', type: :reset, class: 'btn btn-large btn-danger' %>
</div>
<% end %>


