<div class="listing-block">
  <div class="listing-image-block">
    <span class="image_placeholder">
      <%= image_tag listing.image_url(:thumb).to_s %>
    </span>
  </div>
  <div class="listing-content-block">
    <span class="listing-title">
      <%= link_to "#{listing.title} - $#{listing.price}", listing %>
    </span>
    <p><%= listing.description %></p>
  </div>
  <ul style="list-style:none;margin: 0;">
    <div class="listing-button-block">
      <li style="padding:0px;">
        <div class="listing-star-button <%= "starred" if listing.user == current_user or current_user.following?(listing)%>">
          <%= link_to "#{listing.followers.count + 1}", followers_listing_path(listing), class: "listing-star-link" %>
        </div>
      </li>
      <li style="padding:0px;">
        <div class="listing-readmore-button">
          <%= link_to "read more", listing, class: "listing-readmore-link" %>
        </div>
      </li>
    </div>
  </ul>
</div>
