<!-- Runs when /users/1/messages is accessed -->
<% provide(:title, @title) %>
<div class="row">
  <aside class="span3">
    <section>
      <%= render 'shared/user_info' %>
    </section>
    <section>
      <%= render 'shared/stats' %>
    </section>
    <section>
      <%= link_to "Compose New Message", :new_conversation, class: "btn btn-large btn-primary" %>
    </section>
  </aside>
  <div class="span9">
    <ul class="nav nav-tabs" id="myTab">
      <li class="active"><a href="#inbox" data-toggle="tab">Inbox</a></li>
      <li><a href="#sent_messages" data-toggle="tab">Sent Messages</a></li>
      <li><a href="#trash" data-toggle="tab">Trash</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="inbox">
        <% if @user.mailbox.inbox.any? %>
        <h3>Inbox (<%= @user.mailbox.inbox.count %>)</h3>
        <ul class="conversations">
          <!-- This references partial conversations/_conversation.html.erb -->
          <%= render @msg_items %>
        </ul>
        <%= will_paginate @msg_items %>
        <% else %>
        <h3>No Messages in Inbox</h3>
        <% end %>
      </div>

      <div class="tab-pane" id="sent_messages">
        <% if @user.mailbox.sentbox.any? %>
        <h3>Sent Messages (<%= @user.mailbox.sentbox.count %>)</h3>
        <ul class="conversations">
          <!-- This references partial conversations/_conversation.html.erb -->
          <%= render @sent_msg_items %>
        </ul>
        <%= will_paginate @sent_msg_items %>
        <% else %>
        <h3>No Messages in Sentbox</h3>
        <% end %>
      </div>

      <div class="tab-pane" id="trash">
        <% if @user.mailbox.trash.any? %>
        <h3>Trash (<%= @user.mailbox.trash.count %>)</h3>
        <ul class="conversations">
          <!-- This references partial conversations/_conversation.html.erb -->
          <%= render @trash_msg_items %>
        </ul>
        <%= will_paginate @trash_msg_items %>
        <% else %>
        <h3>No Messages in Trash</h3>
        <% end %>
      </div>
    </div>
  </div>
</div>