<%= form_for(@listing) do |f| %>
<%= render 'shared/error_messages', object: f.object %>
<div class="field">
  <%= f.file_field :image, placeholder: "Upload photos" %>
</div>
<div class="field">
  <%= f.text_area :description, placeholder: "Compose new listing..." %>
</div>
<div class="field">
  <%= f.text_field :tag_list, placeholder: "Tags (separated by commas)" %>
</div>
<%= f.submit "Create Listing", class: "btn btn-large btn-primary" %>
<% end %>