<% @user ||= current_user %>
<a href="<%= user_path(@user) %>">
  <%= gravatar_for @user, size: 52 %>
</a>
<h1>
  <%= @user.user_name %>
</h1>
<span>
  Rating: 
  <% if @user.ratings.any? %>
    <%= @user.average_rating_round %>
  <% else %>
    <i>unrated</i>
  <% end %>
</span>
<span>
  <%= pluralize(@user.listings.count, "listing") %>
</span>