<div id="bbs-toolbar">
  <div class="navbar navbar-fixed-left">
    <div class="navbar-inner" style="padding-left:0px;">
      <ul class="nav">
        <li>
          <a href="#"><object data=<%= asset_path 'sidebar/starred.svg' %> type="image/svg+xml"></object></a>
        </li>
        <li>
          <a href="#"><object data=<%= asset_path 'sidebar/addlisting.svg' %> type="image/svg+xml"></object></a>
        </li>
        <li>
          <a href="#"><object data=<%= asset_path 'sidebar/search.svg' %> type="image/svg+xml"></object></a>
        </li>
        <li>
          <a href="#"><object data=<%= asset_path 'sidebar/categories_tag.svg' %> type="image/svg+xml"></object></a>
        </li>
        <li>
          <a href="#"><object data=<%= asset_path 'sidebar/profile.svg' %> type="image/svg+xml"></object></a>
        </li>
        <li>
          <a href="#"><object data=<%= asset_path 'sidebar/messages.svg' %> type="image/svg+xml"></object></a>
        </li>
      </ul>
    </div>
  </div>
</div>