<!-- //Sidebar Options
.bs-docs-sidenav {
    background-color: @navbarBackground;
    border: 1px solid rgba(0, 0, 0, 0.15);
    .rounded-corners(4px);
    li {
        max-width: 50px;
        a {
          padding: 9px;
        }
        a:hover {
            background-color: @liHighlightColor;
            .box-shadow(inset #7c1d08 0px 0px 1px);
        }
    }
} -->

<ul class="nav nav-list bs-docs-sidenav affix">
  <li>
    <a rel="tooltip" href="<%= root_path %>" title="Starred Listings" data-placement="right">
      <%= image_tag 'sidebar/starred.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= conversations_path %>" title="Messages">
      <%= image_tag 'sidebar/messages.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= listings_path %>" title="Tags">
      <%= image_tag 'sidebar/categories_tag.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= user_path(current_user) %>" title="My Profile">
      <%= image_tag 'sidebar/profile.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= new_listing_path %>" title="Create Listing">
      <%= image_tag 'sidebar/addlisting.svg', size: "30x30" %>
    </a>
  </li>
</ul>