<ul class="nav nav-list bs-docs-sidenav affix">
  <li>
    <a rel="tooltip" href="<%= root_path %>" title="Starred Listings" data-placement="right">
      <%= image_tag 'sidebar/starred.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= conversations_path %>" title="Messages">
      <%= image_tag 'sidebar/messages.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= listings_path %>" title="Tags">
      <%= image_tag 'sidebar/categories_tag.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= user_path(current_user) %>" title="My Profile">
      <%= image_tag 'sidebar/profile.svg', size: "30x30" %>
    </a>
  </li>
  <li>
    <a data-placement="right" rel="tooltip" href="<%= new_listing_path %>" title="Create Listing">
      <%= image_tag 'sidebar/addlisting.svg', size: "30x30" %>
    </a>
  </li>
</ul>