<!DOCTYPE html>
<html ng-app>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <style>
  .navbar .nav > li > a:focus,
  .navbar .nav > li > a:hover {
    background: #ff3f03; /* Old browsers */
    background: -moz-linear-gradient(top, #ff3f03 0%, #ff754f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3f03), color-stop(100%,#ff754f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ff3f03 0%,#ff754f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ff3f03 0%,#ff754f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #ff3f03 0%,#ff754f 100%); /* IE10+ */
    background: linear-gradient(to bottom, #ff3f03 0%,#ff754f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3f03', endColorstr='#ff754f',GradientType=0 ); /* IE6-9 */
    color: white;
  }

  </style>
</head>
<body>
  <%= render 'layouts/header' %>
  <div class="container">
    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
    <%= debug(params) if Rails.env.development? %>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
