<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <meta content='width=device-width, initial-scale=1.0' name='viewport'>
  <%= render 'layouts/shim' %>

  <%= favicon_link_tag 'bbsfavicn.png' %>
</head>
<body style='font-family: "Quicksand", Arial, sans-serif;'>
  <%= render 'layouts/header' %>
  <div class="container" style="padding-top: 15px;">

    <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
    <% end %>
    <%= yield %>
    <!-- <%= render 'layouts/footer' %> -->
    <%= debug(params) if Rails.env.development? %>
  </div>

  <% if signed_in? %>
  <%= render 'layouts/utilitybar' %>
  <% end %>

  <%= javascript_include_tag "application" %>
</body>
</html>
